@inherits LayoutComponentBase

<PageTitle>Tasks</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <h2>Tasks</h2>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
