@if (DueFuture.Count > 0) { 
    <div>
        <h3>Future</h3>
        <div class="FutureBorder">
            @foreach (var todo in DueFuture) {
                <TodoDisplay CurrentTodo=todo />
            }
        </div>
    </div>
}

@code {
    [Parameter] public List<Todo> TaskList { get; set; }
    List<Todo> DueFuture = new();


    protected override void OnAfterRender(bool firstRender) {
        if (firstRender) {
            DueFuture.Clear();
            DueFuture.AddRange(TaskList.Where(x => x.DueDate.Date > DateTime.Today.Date).OrderByDescending(x => x.Priority).ToList());
            StateHasChanged();
        }
    }

    public void Refresh() {
        OnAfterRender(true);
    }
}
